.hero{
    height: 90vh;
    display: flex;
    width:100%;
    padding-left:4rem;
    padding-right:4rem;
    align-items: center;
    gap: 5rem;
    background-color: #FFFFFF;
  }
  
  
  .img{
    width:50%;
    height:50%;
  }
  
  .inner-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .catch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }
  
  .how-it-works{
    display: flex;
    padding: 7rem 4rem;
    align-items: center;
    gap:17.8125rem;
    align-self: stretch;
  }
  
  .hiw-l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  .hiw-l-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
    
  }
  
  .hiw-l-i-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }
  
  .line{
    width: 0.125rem;
    height: 6.25rem;
    background-color: #111111;
  }
  
  .hiwri1-n{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  
  .hiwsub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
  }
  
  .hiw-r-inner{
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
  }
  
  .hiw-r{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  
  
  .cooking-img{
    width: 85%;
    height: 45%;
  }
  
  .our-mission{
    display: flex;
    padding: 7rem 4rem;
    align-items: center;
    gap:5rem;
    align-self: stretch;
  }
  
  .our-mission-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
  }
  
  .omi-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
  }
  
  #oum:hover{
    color:#FFFFFF;
  }
  
  .faqsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7rem 4rem;
    align-items: flex-start;
    gap:5rem;
    align-self: stretch;
  }
  
  .faqs-i-t{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
  }
  
  .faqsection-ii{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    align-self: stretch;
  }
  
  .img-s{
    width: 75%;
    height: 75%;
  }
  
  .footer-i-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    align-self: stretch;
  }
  
  .footer-ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }

  
  .footer-i-i-inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    justify-content: center;
    align-self: stretch;
  }
  
  .cred{
    border-top: #111111;
    border-top-style: solid;
    border-top-width: 0.125rem;
    padding-top: 0.5rem;
    width: 94%;
    text-align: center;
  }
  

