.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modalContent {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    position: relative;
  }
  
  .modalHeader {
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .progressBar {
    height: 10px;
    background: #f1f1f1;
    margin-bottom: 15px;
  }
  
  .progressFill {
    height: 100%;
    background: #4caf50;
    width: 0;
  }
  
  .modalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: 0.0015rem;
  }
  
  input[type="text"].pref,
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button.cinto {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  